[submodule "polybar-musicjs"]
	path = polybar/.config/polybar/themes/gruvbox-material/scripts/polybar-musicjs
	url = git@github.com:lyonelz96/polybar-musicjs.git 
[submodule "devicons2"]
	path = ranger/.config/ranger/plugins/devicons2
	url = git@github.com:cdump/ranger-devicons2.git 
