[submodule "polybar-musicjs"]
	path = polybar/.config/polybar/themes/gruvbox-material/scripts/polybar-musicjs
	url = ./polybar/.config/polybar/themes/gruvbox-material/scripts/polybar-musicjs
[submodule "devicons2"]
	path = ranger/.config/ranger/plugins/devicons2
	url = ./ranger/.config/ranger/plugins/devicons2
